:root {

	/*  Tailwind palette format */
	/* https://uicolors.app/create */
	--p-accent-color-50: #f0f4fe;
	--p-accent-color-100: #dce6fd;
	--p-accent-color-200: #c1d3fc;
	--p-accent-color-300: #96b8fa;
	--p-accent-color-400: #6593f5;
	--p-accent-color-500: #416cf0;
	--p-accent-color-600: #3757e6;
	--p-accent-color-700: #233ad2;
	--p-accent-color-800: #2331aa;
	--p-accent-color-900: #222f86;
	--p-accent-color-950: #191f52;

	--p-text-color-50: #f9fafb;
	--p-text-color-100: #f3f4f6;
	--p-text-color-200: #e5e7eb;
	--p-text-color-300: #d1d5db;
	--p-text-color-400: #9ca3af;
	--p-text-color-500: #6b7280;
	--p-text-color-600: #4b5563;
	--p-text-color-700: #374151;
	--p-text-color-800: #1f2937;
	--p-text-color-900: #111827;
	--p-text-color-950: #030712;

	--p-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--p-font-size: 1rem;
	--p-line-height: 1;

	/* button and input base height */
	--p-element-base-height: 2.5em;

	--p-color: var(--p-text-color-700);
	--p-color-titles: var(--p-text-color-950);
	--p-color-strong: var(--p-text-color-950);

	--p-link-color: var(--p-accent-color-500);
	--p-link-color-hover: var(--p-accent-color-900);
	--p-link-color-visited: rebeccapurple;
	--p-link-font-weight: 500;

	--p-border-radius: .3em;
	--p-transition: background .15s, opacity .15s, color .15s, border-color .15s;
	--p-outline-width: 3px;
	--p-focus-outline: var(--p-outline-width) solid var(--p-accent-color-200);

	--p-code-color: var(--p-text-color-900);
	--p-code-background: var(--p-text-color-50);
	--p-code-block-padding: 1em;
	--p-code-border-radius: var(--p-border-radius);

	--p-mark-background: var(--p-accent-color-100);

	--p-size-mini: .7em;
	--p-size-small: .8em;
	--p-size-large: 1.15em;
	--p-size-huge: 1.3em;

	/*--p-spinner: $cnv-spinner;*/
}

&.mini {
	font-size: var(--p-size-mini);
}

&.small {
	font-size: var(--p-size-small);
}

&.large {
	font-size: var(--p-size-large);
}

&.huge {
	font-size: var(--p-size-huge);
}

:root .dark {
	--p-color: var(--p-text-color-300);
	--p-color-titles: var(--p-text-color-50);
	--p-color-strong: var(--p-text-color-50);
}

@media (prefers-color-scheme: dark) {
	:root body.auto {
		--p-color: var(--p-text-color-300);
		--p-color-titles: var(--p-text-color-50);
		--p-color-strong: var(--p-text-color-50);
	}
}