.p form, .p .form {
	--p-form-ui-gap: .5em;
}

.p .form-row {
	display: flex;
	align-items: start;
	margin-bottom: 2em;
	gap: var(--p-form-ui-gap);
}

.p form > .form-control, .p .form > .form-control {
	margin-bottom: calc(var(--p-form-ui-gap) * 4);
}

.p .form-control {
	display: flex;
	flex-direction: column;
	width: 100%;

	label {
		margin-bottom: var(--p-form-ui-gap);
		display: flex;
		align-items: center;
		font-size: .9em;

		.info {
			margin-top: 0;
			margin-left: auto;
		}
	}

	.info {
		color: var(--p-text-color-500);
		margin-top: var(--p-form-ui-gap);
		font-size: .8rem;
		line-height: 1;
	}

	> button {
		margin: 1.35em 0 0;
	}

	&.checkbox, &.radio {
		margin-bottom: calc(var(--p-form-ui-gap) * 2);
		flex-direction: row;
		display: flex;
		align-items: center;

		label {
			margin-bottom: 0;
		}
	}

	&.checkbox input[type=checkbox], &.radio input[type=radio] {
		margin-right: .5em;
	}
}

.p fieldset, fieldset.p {
	margin-bottom: calc(var(--p-form-ui-gap) * 4);

	legend {
		color: var(--p-color-titles);
		font-size: 1.1em;
		margin-bottom: .75em;
	}
}